<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div>
                <img id="mainLogo" alt="AnText Logo" />
            </div>
            <div class="" style=""></div>
                navigation
            </div>
        </header>

        <main>
            <figure id="banner">
                <div id="overlay">
                    <section>
                        <h1>Online Text Sentiment Analysis Tool</h1>
                        <h2>Just enter the desired text into the field below</h2>
                        <form class="" onsubmit="return Client.handleSubmit(event)">
                            <input id="name" type="text" name="input" value="" placeholder="Text to Analyze">
                            <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                        </form>
                    <section>
                </div>
            </figure>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
