@import 'variables.scss';

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: $primary-color;
    color: $primary-color-text;
}

#mainLogo {
    width: 150px;
}