@import 'variables.scss';

header {

    padding: 10px 40px;
    background-color: $primary-color;
    color: $primary-color-text;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    #mainLogo {
        width: 150px;
        margin-right: 15px;
    }

    .motto, .socialWrapper {
        display: flex;
        align-items: center;
    }

    .motto {
        max-width:575px;
        margin-right: 15px;
        font-size: 25px;
        font-family: MyVignette, cursive;
    }

    #headerSocials {
        height: 32px;
    }
}

@media only screen and (max-width: 1300px) {
    header .container {
      width: 100%;
    }
}